<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Pix | Gerencianet</title>
</head>
<body>
    <h1>QR code</h1>
    <img src="<%= qrcodeImage %>" alt="Imagem do qrcode">
</body>
</html>